<header class="header">
<h1 class="h2 fw-bold">Users!</h1>
<p>Here is a list of users</p>
</header>

<section class="container">
<% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>
</section>

<section class="container">
  <% @users.each do |user| %>
  <%= render 'shared/user', user: user %>
  <% end %>
</section>
