<div class="card mt-2 mb-4">
  <div class="px-4 py-2">
  <% if comments.empty? %>
    <p class="fs-6"> No comments yet </p>
  <% end %>
  <% comments.each do |comment| %>
    <p class="fs-6"><%= User.find(comment.author_id).name ||'' %>: <%= comment.text ||'Be the first to submit a comment' %></p>
    <% if can? :destroy, comment%>
      <%= button_to "Delete", user_post_comment_path(comment.author_id, comment.post_id, comment.id), method: :delete, class:"btn btn-danger btn-sm" %>
    <% end %>
  <% end %>
  </div>
  </div>
